<div class="main table-responsive container mt-5 d-flex justify-content-center text-center" style=" overflow-x: auto;"
  *ngIf="cartService.getCartCount() != 0">
  <table class="table table-dark table-hover " >
    <thead>
      <tr>
        <th scope="col">NO .</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let orderItem of cartList">
        <tr class="align-middle">
          <td scope="row">{{ orderItem.product.id }}</td>
          <td scope="row"><img src="{{ orderItem.product.img }}" alt="" style="width: auto;height: 80px; margin-left: 60px;"></td>
          <td scope="row">{{ orderItem.product.name }}</td>
          <td scope="row">
            <form>
              <div class="row d-flex">
                <button class="btn value-button minBtn col-4 text-white" id="decrease" (click)="decrease(orderItem)"
                  [disabled]="orderItem.count <= 1">
                  -
                </button>
                <input type="number" id="number" class="col-4" value="{{ orderItem.count }}" />
                <button class="btn value-button plusBtn col-4 text-white" id="increase" (click)="increase(orderItem)"
                  [disabled]="orderItem.product.quantity <= 0">
                  +
                </button>
              </div>
            </form>
          </td>
          <td scope="row">{{ orderItem.product.price | currency }}</td>
          <td scope="row">{{ orderItem.product.price * orderItem.count | currency}}</td>
          <td><i class="fa fa-trash" (click)="removeFromCart(orderItem)" style="cursor: pointer;color: #dc3545;"></i>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="container" *ngIf="cartService.getCartCount() == 0">
  <div class="row mt-5 d-flex align-items-center">
    <div class="col-lg-6 col-12 text-center">
      <h2>There are no items in the cart yet</h2>
    </div>
    <div class="col-lg-6 col-12 left-sec text-center">
      <img src="assets/emptyCart.gif" class="w-100" alt="">
    </div>

  </div>
</div>
