*{
  box-sizing: border-box;
  margin: 0%;
  /* padding: 0%; */
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}


.bg-teal-400 {
    background-color: #26a69a;
}

a{
    text-decoration: none !important;
}

.bg-lastItem {
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      rgb(185, 185, 185),
      rgb(224, 224, 224) 50%,
      #ffffff
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #0b4a4a);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

/* .bg-lastItem:hover {
  animation-play-state: paused;
} */

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}



.fa {
   color: red;
}
.shoppingIcon
{
  color: #4c4c4c;
}
.shoppingIcon:hover{
  color: blue;
}
/* #cardd:last-child {
  float: left;
} */
