<div class="row" style="justify-content: space-around;">
  <input [(ngModel)]="ClientName" class="form-control mb-3 mt-3 col-5" placeholder="Enter your name"
    style="width: 300px" />
  <select class="form-select form-select-lg col-5 mb-3 mt-3" name="cat" id="prdcat" [(ngModel)]="selectedCatID"
    style="width: 40%; height: fit-content;">
    <option value="0">All Categories</option>
    <option *ngFor="let category of catList" [value]="category.id">{{ category.name }}</option>
  </select>
</div>
<section style="background-color: #eee">
  <div class="text-center container py-5">
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/ART_Television_%28Sri_Lanka%29_%28logo%29.png"
        style="width: 150px" alt="" *ngIf="flagImg" />
      <div *ngIf="!flagImg">
        Thanks for purchasing from our Store, {{ ClientName }}!
      </div>
      <button type="button" class="btn btn-secondary" (click)="purchase()">
        Show/Hide
      </button>
      <h4 class="mt-4 mb-5">
        <strong>{{ StoreObject.name }}</strong>
      </h4>
    </div>

    <div class="row" style="justify-content: center">
      <div class="col-lg-4 col-md-12 mb-4" *ngFor="let prd of ProductList" BoxShadow style="width: 27%">
        <div *ngIf="selectedCatID==prd.categoryID || selectedCatID==0">
          <div class="card" [ngStyle]="{ opacity: prd.quantity == 0 ? 0.5 : '' }"
            [ngClass]="prd.quantity == 1 ? 'bg-warning' : ''">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="{{ prd.img }}" class="w-100" [routerLink]="['/products',prd.id]" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2 mt-3 mr-2">{{
                        prd.quantity
                        }}</span>
                    </h5>
                  </div>
                </div>

              </a>
            </div>
            <div class="mb-3">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3"></h5>
              </a>
              <a href="" class="text-reset">
                <p>{{ prd.name }}</p>
              </a>
              <h6 class="mb-3">{{ prd.price | currency  }}</h6>

              <div class="row">
                <div [ngSwitch]="prd.quantity" class="col-6">
                  <div *ngSwitchCase="0">Out of Stock</div>
                  <div *ngSwitchCase="1">Last One Item</div>
                  <div *ngSwitchCase="2">Last two Item</div>
                  <div *ngSwitchDefault>In Stock</div>
                </div>
                <button type="button" class="btn btn-secondary col-3" [disabled]="prd.quantity == 0"
                  (click)="prd.quantity = decrease(prd.quantity)">
                  Buy
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
