.register
{
  background: linear-gradient(206deg, #6565654e 0%, rgba(0, 255, 255, 0.355) 230%);
  box-shadow: 5px 5px 11px 4px #ccc;
  width: 23rem ;
  height: 33rem;
  border-radius: 2rem;
}
.register a {
  text-decoration: none;
  color: white;
}
.register a:hover {
  text-decoration: none;
  color: #000;
}
input {
  border: none;
  outline: none;
  background-color: #d9d9d9;
  border-radius: 1rem;
  width: 18rem;
  height: 3rem;
  padding: 1rem;
  margin: 20px 0 20px 0px;
}
.register-button {
  text-decoration: none;
  border: 0;
  border-radius: 1rem;
  width: 8rem;
  height: 3rem;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  background-color: #4c4b4b;
}
