<div classs="container">
  <div class="row justify-content-center mt-5 d-flex align-items-center">

    <div class="col-lg-6 col-12 left-sec mb-2 text-center">

      <img src="assets/e-commerce.gif" alt="">

    </div>

    <div class="col-lg-6 col-12 text-center">

      <h1>Art Store</h1>
      <h3>We are excited to offer you a unique selection
        <br> of hand-painted Artwork
        Painted with love
      </h3>
      <img src="assets/tree.gif" alt="" class="w-75">

    </div>

  </div>
</div>
