<app-header></app-header>
<div class="container-fluid">
  <router-outlet></router-outlet>
<ng-toast [style]="{position:'relative',top:'2.5rem',right:'0.3rem', padding:'1.2rem',}"></ng-toast>

</div>
<!-- <div class="container-fluid">
  <section class="row">
    <app-side-menu class="col-2 mt-3 mb-3"></app-side-menu>
    <app-products class="col-10"></app-products>
    <app-credit-form class="col-10 mt-4"></app-credit-form>
  </section>
  <app-footer></app-footer>
</div> -->
<!-- <app-not-found-page></app-not-found-page> -->
