<!-- login -->

<div class="main ">
  <div class="loginsection row" id="loginsec">

    <!-- <div class="col-6 svu">
          <h1 style="font-weight: bold; font-size: 50px;">
              S . V . U
          </h1>

          <h3 class="south-valley-university" style="font-size: 40px;">South Valley University</h3>
          <h4 class="title">Title</h4>
          <span class="loginSpan">
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s,
              </p>
              <p>when an unknown printer took a galley</p>
              <p>
                  of type and scrambled it to make a type specimen book.
              </p>
              <p>
                  It has survived not only five centuries,
              </p>
              <p>
                  but also the leap into electronic typesetting, remaining
                  essentially unchanged.
              </p>
              <p>
                  It has survived not only five centuries, but also the leap into
                  electronic typesetting, remaining essentially unchanged.
              </p>
          </span>
      </div> -->


    <!-- login form  -->
    <div class="login-form col-6" id="login">
      <img class="loginpic" alt="" src="https://i.ibb.co/sRqTDdF/image.jpg" />

      <div class="inputs">
        <div class="input">
          <i class="fa-solid fa-user"></i>
          <input class="" type="email" placeholder="Enter Email" required id="email" [(ngModel)]="userName" />
        </div>
        <div class="input">
          <i class="fa-solid fa-key"></i>
          <input class="" type="password" placeholder="Enter Password" required id="password" [(ngModel)]="password" />
        </div>
        <a href="">Forget your password ?</a>
        <div class="loginLogout">
          <button class="login-button" type="submit" (click)="login()"
            routerLink="/Products">Login</button>
          <!-- <button [disabled]="!isUserLogged" class="logout-button" type="submit" (click)="logout()">Logout</button> -->
        </div>


      </div>
    </div>
  </div>
