<!-- login -->

<div class="main ">
  <div class="loginsection justify-content-center" id="loginsec">
    <div class="login-form mt-5 d-flex justify-content-center" id="login">
      <!-- <img class="loginpic" alt="" src="https://i.ibb.co/sRqTDdF/image.jpg" /> -->

      <div class="inputs">
        <div class="input">
          <i class="fa-solid fa-user"></i>
          <input class="" type="email" placeholder="Enter Email" required id="email" [(ngModel)]="userName" />
        </div>
        <div class="input">
          <i class="fa-solid fa-key"></i>
          <input class="" type="password" placeholder="Enter Password" required id="password" [(ngModel)]="password" />
        </div>
        <a href="">Forget your password ?</a>
        <div class="loginLogout">
          <button class="login-button" type="submit" (click)="login()"
            routerLink="/Products">Login</button>
          <!-- <button [disabled]="!isUserLogged" class="logout-button" type="submit" (click)="logout()">Logout</button> -->
        </div>


      </div>
    </div>
  </div>
